@font-face {
  font-family: Vazir;
  src: url("ّFont/Vazir.eot");
  src: url("Font/Vazir.eot?#iefix") format("embedded-opentype"),
    url("Font/Vazir.woff") format("woff"),
    url("Font/Vazir.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir;
}

body {
  padding: 30px;
  background: url(god-of-war-4-4k-qf.jpg);
  background-size: cover;
  background-position: center top;
  height: 100vh;
}

#main {
  float: right;
  position: relative;
  width: 80%;
}

#main::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

#menu {
  position: relative;
  float: right;
  width: 100%;
  border-radius: 50px;
  background: rgba(105, 0, 0, 0.75);
  padding: 10px 30px;
  text-align: center;
  flex: 1;
}

#menu,
#menu ul {
  list-style: none;
}

#menu > li {
  float: right;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
  perspective: 1000px;
}

/* #menu > li:first-child {
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1), 1px 0 0 rgba(255, 255, 255, 0.25);
} */

#menu a {
  display: block;
  position: relative;
  z-index: 10;
  padding: 15px 20px;
  text-decoration: none;
  line-height: 1;
  font-weight: bold;
  font-size: 14pt;
  background: transparent;
  transition: all 0.25s ease-in-out;
  color: #fff;
}

#menu > li:hover > a {
  background: rgb(223, 0, 0);
}

#menu li ul {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 200px;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 0 0 4px 4px;
  background: transparent;
  overflow: hidden;
  transform-origin: 50% 0%;
}

#menu li:hover ul {
  padding: 15px 0;
  background: rgb(223, 0, 0);
  opacity: 1;
  visibility: visible;
  animation: dropping 1s ease;
}

@keyframes dropping {
  0% {
    opacity: 0.99;
    transform: rotateX(90deg);
  }
  30% {
    transform: rotateX(-20deg) rotateY(5deg);
    animation-timing-function: ease-in-out;
  }
  65% {
    transform: rotateX(20deg) rotateY(-3deg);
    animation-timing-function: ease-in-out;
  }
}
